@model EntityLayer.Concrete.Category

@{
	ViewData["Title"] = "AddCategory";
	Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1 style="text-align:center">Yeni Kategori Girişi</h1>
<br />
@using (Html.BeginForm("AddCategory", "Category", FormMethod.Post))
{
	@Html.Label("Kategori Adı")
	@Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
	@*@Html.ValidationMessageFor(Model => Model.CategoryName, null, new { @class = "text-danger" })*@
	@Html.ValidationMessageFor(x => x.CategoryName, null, new { @class = "text-danger" })
	<br />
	@Html.Label("Kategori Detayı")
	@Html.TextAreaFor(x => x.CategoryDescription, 10, 3, new { @class = "form-control" })
	@*@Html.ValidationMessageFor(x => x.CategoryDescription)*@
	@Html.ValidationMessageFor(x => x.CategoryDescription, null, new { @class = "text-danger" })
	<br />
	<button class=" btn btn-info">Kaydet</button>
}


